<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DEFAULT_SERVER" value="0.0.0.0"/>
    <add key="DEFAULT_PORT" value="1000"/>
    <add key="containerkey" value="dataingestioncontainer"/>
    <add key="storageAccount" value="DefaultEndpointsProtocol=https;AccountName=sb2020devstorage;AccountKey=HAei+XTGY4bXVtvwfZoPEf/KNPm/XkV6Y/9QA3OnqnV+qwl9JYftKYPQ54pXZK5mx8Op4T8ulUR6uGSaMjk3Jg==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>