.dtbcache
.suo
db.lock
storage.ide
storage.ide-shm
storage.ide-wal
SB2020API.deps.json
SB2020API.dll
SB2020API.pdb
SB2020API.runtimeconfig.dev.json
SB2020API.runtimeconfig.json
SB2020API.AssemblyInfo.cs
SB2020API.AssemblyInfoInputs.cache
SB2020API.RazorAssemblyInfo.cache
SB2020API.RazorAssemblyInfo.cs
SB2020API.RazorTargetAssemblyInfo.cache
SB2020API.assets.cache
SB2020API.csproj.CoreCompileInputs.cache
SB2020API.csproj.FileListAbsolute.txt
SB2020API.csprojAssemblyReference.cache
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SB2020API.csproj.nuget.cache
SB2020API.csproj.nuget.g.props
SB2020API.csproj.nuget.g.targets
project.assets.json
SB2020DB_20200323055729.log
SB2020DB.jfm
SB2020DB.sqlprojAssemblyReference.cache
PubTmp
/SB2020Listener/obj
/SB2020Listener/bin
